body {
	background-image: url(../images/header.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat:no-repeat;
	background-color:#1b1b1b;
}

#doctor_detail {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	color: rgb(255, 198, 2);
	position: absolute;
	top: 43%;
	left: 37%;
}


.view_patient_record {
	font-size: 28px;
	background: #5CCD00;
	background: -moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background: -webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background: -o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background: -ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background: linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5CCD00', endColorstr='#4AA400',GradientType=0);
	padding: 16px 35px;
	color: #fff;
	font-family: 'Helvetica Neue',sans-serif;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #459A00;
	
}

.update_prof {
	font-size: 20px;
	background: #f00;
	background: -moz-linear-gradient(top,#f00 0%,#4AA400 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f00),color-stop(100%,#4AA400));
	background: -webkit-linear-gradient(top,#f00 0%,#4AA400 100%);
	background: -o-linear-gradient(top,#f00 0%,#4AA400 100%);
	background: -ms-linear-gradient(top,#f00 0%,#4AA400 100%);
	background: linear-gradient(top,#f00 0%,#4AA400 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f00', endColorstr='#4AA400',GradientType=0);
	padding: 1px 35px;
	color: #fff;
	font-family: 'Helvetica Neue',sans-serif;
	border-radius: 2px;
	font-size:20px;
 	width:220px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #459A00;
	position:absolute;
	top:110px;
	left: 1100px;
}

.logout {
	background-image: url(../images/logout.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:110px;
	height:25px;
	position:absolute;
	top: 38px;
	left: 1160px;
	color: #fff;
	text-align:center;
	font-size:16px;
	padding: 0px 0px 0px 14px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #459A00;
}
