html,body {
	background-image: url(../images/background.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat:no-repeat;
	background-color:#1b1b1b;
}

.home {
	background-image:url(../images/home.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	left: 130px;
	top: 31px;
	width: 39px;
	height: 30px;
	border:0;
  	z-index: 59;
}

.logout {
	background-image: url(../images/logout.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:110px;
	height:25px;
	position:absolute;
	top: 38px;
	left: 1160px;
	color: #fff;
	text-align:center;
	font-size:16px;
	padding: 0px 0px 0px 14px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #459A00;
}

#search_bar
{
	font-family: times;
	font-size: 22px;
	position: absolute;
	top: 20%;
	color: rgb(255, 198, 2);
	width:100%;
}

.search_by
{
	position:relative;
	left: 9%;
}

#search_bar input
{
	border:0;
	background-color: #292929;
	border-radius: 7px;
	color: white;
	height: 26px;
}

.hidden
{
	display:none;
}

.hidden_records
{
	visibility:hidden;
}

.hidden_items
{
	color:white;
}

#hidden_fields
{
	position:relative;
	top:20px;
	font-size:20px;
}

#pat_record
{
	position: absolute;
	top: 35%;
	width:96%;
	margin-left:2%;
}

#med_cfts
{
	position: relative;
	width:100%;
}

#docremarks
{
	position: relative;
	width:100%;
}

.display thead 
{
	background-color:#434343;
}

#pat_head
{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: rgb(255, 198, 2);
}

#cft_head
{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: rgb(255, 198, 2);
}

#remarks_head
{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: rgb(255, 198, 2);
}


#view_button
{
	position: absolute;
	top:200px;
	left:40%;
	font-family: times;
	width:200px;
	font-size: 20px;
}

#remark_form
{
	position:absolute;
	left:18%;
}

#remark_form textarea 
{
	border:0;
	border-radius: 7px;
}

input[type="search"] {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	padding-left:0.5em;
	border:initial;
	width: 200px;
	border-radius: 5px;
	height:25px;
	font-size:16px;
	margin-bottom:10px;
}
